@media screen and (max-width: 1180px) {
  .product {
    width: calc((100% / 3) - var(--card-gap)) !important;
  }
}
@media screen and (max-width: 991px) {
  #about .container {
    grid-template-columns: 1fr;
  }
  .product {
    width: calc((100% / 2) - var(--card-gap)) !important;
  }
}
@media screen and (max-width: 588px) {
  .product {
    width: 100% !important;
  }
}
